@import './bootstrap.min.css';
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}


h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 4em;
}

pre {
  height: 490px;
  overflow: hidden;
}

#form_box {
  margin-top: 33px;
}

.code-box {
  padding-top: 10px;
}

.btn-flat {
  border-radius: 0px;
}

.form-control {
  padding: 1em;
  margin: .5em 0;
  font-size: 18px;
  color: #0caf00;
  background-color: #2d2d2d;
  border: 2px solid #4c4c4c !important;
  border-radius: 0px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 100;
  box-shadow:none !important;
}

.btn-wrapper {
  padding: 25px;
}

.btn-wrapper a:hover {
  text-decoration: none;
}

/* EXPLODING STUFF */

.exploding-code-box {
  padding: 1em;
  margin: .5em 0;
}

/*styles the box*/
.exploding-code-box div {
  z-index: 900;
}

/*not sure what this does*/
.exploding-code-box, .exploding-code-box div {
  width: 100%;
  height: 490px;
  position: relative;
}

/*makes smaller boxes*/
.exploding-code-box div {
  position: absolute;
  top: auto;
  left: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  padding-top: 15px;
  background-color: #f3f3f3;
}

.footer a {
  color: #d95959;
}

.hide-the-boxes {
  overflow: hidden;
}

.select-language {
  margin: 0 auto 25px;
  width: 300px;
}
