<div class="container">
  <div style="height: 20px;"></div>
  <header class="text-center">
    <h1>THATS SOME NICE CODE...</h1>
    <p>...it would be a shame if something were to happen to it...</p>
  </header>
  <div class="exploding-code-box">
    <div class="exploding-content">
      <pre><code class="language-ruby"><%= @code.final_output %></code></pre>
    </div>
  </div>
  <div class="btn-wrapper text-center">
    <div class="blow-it-up">
    <a class="btn btn-success btn-lg btn-flat" href="#">BLOW THAT SHIT UP!</a>
    </div><br>
    <a class="button btn-danger btn-lg btn-flat" href="/"> WAIT, GO BACK!</a>
  </div>
</div>