<!DOCTYPE html>
<html lang='en'>
  <head>
    <link rel='stylesheet' href='/stylesheets/custom.css' type='text/css' />
    <link rel="stylesheet" href="/prism/prism.css" type='text/css' />
    <!-- Exploding DIV -->
    <script src="/js/jquery.js"></script>
    <script src="/js/javascript.js"></script>
  <title>Destroy Your Code</title>
  </head>
  <body>
    <%= yield %>
    <script src="/prism/prism.js"></script>
  </body>
</html>