<div class="container text-center">
  <div style="height: 20px;"></div>
  <header>
    <h1>FEEL BETTER, FOOL?</h1>
    <p></p>
  </header>
  <img src="/images/mr-t-resize.jpg" height="332" width="500" alt="">
  <div class="btn-wrapper text-center">
    <a class="button btn-danger btn-lg btn-flat" href="/">AGAIN! AGAIN!</a>
  </div>
</div>